@import "compass/css3";
@import "compass/reset";


body{
    background-color:darkslategrey;
    margin: 0%;
    transition: padding-top .5s ease;
}

header{
    text-shadow: 2px 2px rgb(65, 62, 62);
    width: 100%;
    height: 50px;
    top: 0;
    overflow: hidden;
    
    text-align: center;
    transition: all .5s ease;


}
h1{
    display: inline;
    top: 0;
    font-size: 50px;
    padding-left: 20px;
    color: rgb(7, 158, 27);
    text-transform: uppercase;
    transition: all .3 ease;
}


.topnav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: none;
   
  }

  .topnav a {
    
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20%;
    bottom: 2px;
  }

  .topnav a:hover {
    
    outline: 5px ;
    color: black;
    box-shadow: 2px 2px 5px #04AA6D;
  }

  .topnav a:after {
    
    outline: 5px ;
    color: white;
    background: lime;
    box-shadow: 2px 2px 5px #04AA6D;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .topnav a.active:hover {
    background-color: white;
    color: black;
  }

  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

    @media screen and (max-width: 600px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive a.icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .topnav.responsive a {
          float: none;
          display: block;
          text-align: center;
        }
      }


.education{
    text-align: center;
    text-transform: capitalize;
    padding-top: 50px;
    padding-bottom: 0;
    color: #17d817;
    font-size: x-large;
}
    
*{box-sizing: border-box;}
.container{
    top: 100px;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
}
.timeline {
    
    border-left: 3px solid #108f0c;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(48, 56, 49, 0.911);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position:relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;

    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    color: #17d817;
    border-bottom: 1px dashed #8efd72;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position:relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 30px;
    text-shadow: 2px #6abe54;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #1ca51c;
    box-shadow: 0 0 0 3px #2f9422;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}


.text-white{
    text-decoration: none;
    color: black;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    
    
  }

  .text-white1{
    text-decoration: none;
    color: black;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    
    
  }

  .text-white1:hover{
    text-decoration: none;
    color: lightgreen;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    
    
  }

  
.fa{
    display: inline-block;
    border-radius: 20%;
    padding: 15px;
    cursor: pointer;
    outline: none;
      font-size: 20px;
      color: white;
      border-radius: 20%;
}

.fa:hover{
    opacity: 0.5;
}

.fa:active {
    
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
